parameters:
    level: 6
    paths:
        - src/
        - tests/
    checkDynamicProperties: true
    checkFunctionNameCase: true
    ignoreErrors:
        - identifier: method.templateTypeNotInParameter
